<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.SpaceyDreams.MoldMarauder2.mold_99_cent_diamond</string>
	<string>com.SpaceyDreams.MoldMarauder2.mold_299_cent_diamond</string>
	<string>com.SpaceyDreams.MoldMarauder2.mold_999_cent_diamond</string>
	<string>com.SpaceyDreams.MoldMarauder2.mold_4999_cent_diamond</string>
</array>
</plist>
